<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ermao.dao.UserMapper">
    <select id="selectAllUsers" resultType="user">
        select * from mybatis.user
    </select>

    <resultMap id="UserMap" type="user">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="pwd" property="password"/>
    </resultMap>

    <select id="selectUserByArray" parameterType="com.ermao.pojo.User">
        select * from mybatis.user
    </select>

    <select id="selectUsersByLimit" parameterType="map" resultMap="UserMap">
        select * from mybatis.user limit #{startIndex}, #{pageSize}
    </select>

    <select id="selectUserByRowBounds" resultMap="UserMap">
        select * from mybatis.user
    </select>

    <select id="selectPagedUsers" parameterType="map"  resultMap="UserMap">
        select * from mybatis.user limit #{start}, #{pageSize}
    </select>

</mapper>
